/*
= Sections:
- General
- Navbar
- Starting Page
*/
/* ====================================== */
/* General Rules */
:root {
  --mainColorSite: #686de0;
}
body {
  user-select: none;
}
/* ====================================== */
/* Navbar */
.navbar,
.dropdown-menu {
  background-color: #686de0 !important;
  /* color: white !important; */
}

.navbar a,
.navbar a.active {
  color: white !important;
}

button.navbar-toggler,
button.navbar-toggler:focus {
  border-color: white;
  box-shadow: none;
}
.navbar-collapse.show form {
  margin-top: 15px;
}
/* ====================================== */
/* Starting Page */
.startPage img {
  z-index: -1000;
  position: absolute;
  bottom: 0;
}

.loginWindow {
  margin-top: 210px;
  /* transform: translateY(-120%); */
}

.loginWindow form {
  background-color: var(--mainColorSite);
  max-width: 530px;
}

@media (max-width: 991px) {
  .loginWindow {
    margin-top: 100px;
  }
  .loginForm,
  .signupForm {
    margin-top: 20px;
  }
}

.signupForm {
  display: none;
}

.signupForm.active {
  display: block;
  position: relative;
  height: 365px;
}

.part1 {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left ease-in-out 0.3s;
}

.part2 {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  transition: left ease-in-out 0.3s;
}

.part1.done {
  left: -150%;
}

.part2.done {
  left: 50%;
}

.msg,
.msg1 {
  display: none;
  background-color: white;
  color: var(--mainColorSite);
  font-weight: bold;
}

.userNameCol,
.passCol {
  position: relative;
}

i.avail,
i.inavail,
i.diff,
i.matching {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  display: none;
  color: var(--mainColorSite);
}
/* ====================================== */
