/*
= Sections:
- General
- Navbar
- Starting Page
- Profile
*/
/* ====================================== */
/* General Rules */
/* ====================================== */
:root {
  --mainColorSite: #686de0;
  --shade1: #5b61c7;
  --shade2: #6d73ed;
  --boxShadow: #6d73ed54;
  --boxShadowValue: 0 0 0 0.25rem var(--boxShadow);
}

body {
  user-select: none;
}

.main-container {
  min-height: 100vh;
  position: relative;
}

.footer {
  background-color: var(--mainColorSite);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer .about,
.footer .sections {
  font-size: 18px;
}

.footer .about p {
  line-height: 1.75;
}

.card {
  border-color: var(--mainColorSite);
}

hr,
.vr {
  color: var(--mainColorSite);
}

h1,
h2,
h3 {
  color: var(--mainColorSite);
}

.btn-outline-secondary {
  color: var(--shade1) !important;
  border-color: var(--shade1) !important;
}

.btn-outline-secondary:hover {
  background-color: var(--shade2);
  color: white !important;
}

.btn-outline-secondary:active {
  background-color: var(--shade2) !important;
}

/* ====================================== */
/* Navbar */
/* ====================================== */
.navbar,
.dropdown-menu {
  background-color: #686de0 !important;
  /* color: white !important; */
}

.navbar a,
.navbar a.active {
  color: white !important;
}

button.navbar-toggler,
button.navbar-toggler:focus {
  border-color: white;
  box-shadow: none;
}
.navbar-collapse.show form {
  margin-top: 15px;
}

.dropdown-item:hover {
  background-color: var(--shade1);
}
/* ====================================== */
/* Login/register Page */
/* ====================================== */
.startPage {
  position: relative;
}

.startPage img {
  z-index: -1000;
  position: absolute;
  bottom: -22px;
}

.loginWindow {
  margin-top: 210px;
  /* transform: translateY(-120%); */
}

.loginWindow form {
  background-color: var(--mainColorSite);
  max-width: 530px;
}

@media (max-width: 991px) {
  .loginWindow {
    margin-top: 100px;
  }
  .loginForm,
  .signupForm {
    margin-top: 20px;
  }
}

.pwBox {
  position: relative;
}

.showPw {
  color: var(--mainColorSite);
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.passCol .showPw {
  right: 15%;
}

.signupForm {
  display: none;
}

.signupForm.active {
  display: block;
  position: relative;
  height: 365px;
}

.part1 {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left ease-in-out 0.3s;
}

.part2 {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  transition: left ease-in-out 0.3s;
}

.part1.done {
  left: -150%;
}

.part2.done {
  left: 50%;
}

.msg,
.msg1 {
  display: none;
  background-color: white;
  color: var(--mainColorSite);
  font-weight: bold;
}

.userNameCol,
.passCol {
  position: relative;
}

i.avail,
i.inavail,
i.diff,
i.matching {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  display: none;
  z-index: 100;
  color: var(--mainColorSite);
}
/* ====================================== */
/* Profile  */
/* ====================================== */
.img-thumbnail {
  border-color: var(--mainColorSite);
}

.myArticles,
.myQuestions,
.fav,
.newArticle,
.newQuestion {
  background-color: var(--shade1);
  color: white;
}

.myArticles:hover,
.myQuestions:hover,
.fav:hover,
.newArticle:hover,
.newQuestion:hover,
.myArticles:focus,
.myQuestions:focus,
.fav:focus,
.newArticle:focus,
.newQuestion:focus {
  color: white;
  background-color: var(--shade2);
}

.horizontalLine {
  display: none;
}

@media (max-width: 991px) {
  .horizontalLine {
    display: block;
  }
  .verticalLine {
    display: none;
  }
}

.profileMenu .row div:not(:last-child) {
  margin-bottom: 5px;
}

@media (min-width: 476px) and (max-width: 768px) {
  .profileMenuOptions {
    width: 33.333333333% !important;
  }
  .profileName {
    text-align: center !important;
    padding-left: 0;
    margin-bottom: 5px;
  }
}

@media (min-width: 426px) and (max-width: 475px) {
  .profileMenuOptions {
    width: 50% !important;
  }
}

.editProfileForm span.input-group-text {
  min-width: 150px;
  background-color: var(--shade2);
  color: white;
}

.editProfile,
.saveEdits {
  background-color: var(--shade1);
  border-color: var(--shade2);
}

.editProfile:hover,
.editProfile:focus,
.editProfile:active,
.saveEdits:hover,
.saveEdits:active,
.saveEdits:focus {
  background-color: var(--shade2) !important;
  border-color: var(--shade2) !important;
  color: white !important;
}

.editProfile:focus,
.saveEdits:focus {
  box-shadow: var(--boxShadowValue);
}

.userLength {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  display: none;
  z-index: 100;
  color: var(--mainColorSite);
}
/* ====================================== */
/* Article Form */
/* ====================================== */
.articleTitleGroup,
.subtitleChange,
.pChange {
  display: none;
}

@media (min-width: 991px) {
  h1.articleTitle {
    max-height: 144px;
    overflow: hidden;
  }
  .articleTools {
    width: 631px;
  }
}

.articleTools {
  top: 80px;
  z-index: 500;
  background-color: white;
}

@media (max-width: 767px) {
  .articleTools .vr {
    display: none;
  }
  .articleTools button {
    width: 45%;
  }
  .articleTools button:first-child,
  .articleTools button:nth-child(2) {
    margin-bottom: 10px;
  }
}

.article input {
  border-color: var(--shade1);
}

.article input:focus,
.article textarea:focus {
  box-shadow: var(--boxShadowValue) !important;
}

.article input[type="file"]:focus,
.article input[type="file"]:hover,
.article input[type="file"].filled {
  background-color: var(--shade2);
  color: white;
}
/* Article Format */
.article .card-body {
  padding-left: 2%;
  padding-right: 2%;
  background-color: #eeeeee;
}

@media (max-width: 539px) {
  .article .card-footer {
    justify-content: center !important;
  }
  .article .card-footer .vr:last-of-type {
    display: none;
  }
  .article .card-footer span:nth-last-of-type(2) {
    margin-right: 1.5rem !important;
  }
}

@media (max-width: 459px) {
  .article .card-footer .vr:last-of-type {
    display: block;
  }
  .article .card-footer .vr:first-of-type {
    display: none;
  }
  .article .card-footer span:first-of-type {
    margin: 0 auto !important;
    width: 100%;
    text-align: center;
  }
  .article .card-footer span:nth-last-of-type(2) {
    margin-right: 0.5rem !important;
  }
}

.article img {
  max-width: 75%;
}

.article p {
  margin-left: 1%;
  color: #353a94;
  font-size: 18px;
}

.article h3,
.article .card-footer,
.article .card-header {
  color: var(--mainColorSite);
}

.article .card-header {
  position: relative;
}

.article .card-header .favIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}
/* Main articles page */
.titleInMain {
  color: var(--mainColorSite);
}

/* Subjects articles */

.noArticles {
  border: 1px solid var(--shade1);
  background-color: var(--boxShadow);
  font-size: 18px;
}

.articleCard h3,
.articleCard p {
  color: var(--shade1);
}

.noFavYet {
  background-color: var(--mainColorSite);
  color: white;
  max-width: 60%;
  font-size: 18px;
}
/* ====================================== */
/* Questions */
/* ====================================== */
.questionCard .card .card-body:hover {
  background-color: var(--shade2);
}

.questionCard .card .card-body:hover h3 {
  color: white !important;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .questionsFooter {
    justify-content: center !important;
  }
  .questionsFooter .vr:last-of-type {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .questionsFooter .vr:last-of-type {
    display: block;
  }
  .questionsFooter .vr:first-of-type {
    display: none;
  }
}

@media (max-width: 355px) {
  .questionsFooter {
    justify-content: center !important;
  }

  .questionsFooter .vr {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }
}

@media (max-width: 339px) {
  .questionsFooter .vr {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
  .questionsFooter .vr:last-of-type {
    display: none;
  }
  span:last-of-type {
    margin-left: 1rem;
  }
}

.questionsFooter,
.questionToolFooter {
  color: var(--mainColorSite);
}

.questionToolForm input,
.questionToolForm textarea,
.questionToolForm select {
  border-color: var(--shade1);
}

.questionToolForm input:focus,
.questionToolForm textarea:focus {
  box-shadow: var(--boxShadowValue);
}

.questionToolForm label.input-group-text {
  border-color: var(--shade1);
}

.questionToolForm label {
  color: var(--mainColorSite);
}

.questionToolFooter hr {
  display: none;
}

@media (max-width: 446px) {
  .questionToolFooter .vr {
    display: none;
  }
  .questionToolFooter hr {
    display: block;
    width: 75%;
    color: var(--mainColorSite);
  }
}
.questionTitle span {
  color: var(--mainColorSite);
}

.questionDetails p {
  color: var(--shade1);
}

.answers {
  color: var(--mainColorSite);
}

.answers p {
  color: var(--shade1);
}
/* ====================================== */
